In [1]:
import pandas as pd

In [2]:
player = ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"]
nationality = ["Argentina", "Portugal", "Brasil", "France", "Germany"]
club = ["FC Barcelona", "Juventus FC", "Paris SG", "Paris SG", "FC Bayern" ]
world_champion = [False, False, False, True, True]
height = [1.70, 1.87, 1.75, 1.78, 1.93]
goals = [45, 44, 28, 21, 0]

In [3]:
dic = {"Player":player, "Nationality":nationality, "Club":club, 
        "World_Champion":world_champion, "Height":height, "Goals_2018":goals
       }

In [4]:
df = pd.DataFrame(data = dic)
df

,Player,Nationality,Club,World_Champion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
2,Neymar Junior,Brasil,Paris SG,False,1.75,28
3,Kylian Mbappe,France,Paris SG,True,1.78,21
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0

In [5]:
players = df

## Adding one row

In [6]:
players.loc[5, :] = ["Sergio Ramos",
                     "Spain",
                     "Real Madrid",
                     True,
                     1.84,
                     5]
players

,Player,Nationality,Club,World_Champion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45.0
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44.0
2,Neymar Junior,Brasil,Paris SG,False,1.75,28.0
3,Kylian Mbappe,France,Paris SG,True,1.78,21.0
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0.0
5,Sergio Ramos,Spain,Real Madrid,True,1.84,5.0

## Adding many rows

In [8]:
new = pd.DataFrame(
    data = [["Mohamed Salah", "Egypt", "FC Liverpool", False, 1.75, 44],
            ["Luis Suarez", "Uruguay", "FC Barcelona", False, 1.82, 31]],
    columns = players.columns
)

In [9]:
new

          Player Nationality          Club  World_Champion  Height  Goals_2018
0  Mohamed Salah       Egypt  FC Liverpool           False    1.75          44
1    Luis Suarez     Uruguay  FC Barcelona           False    1.82          31

In [10]:
players = players.append(new, ignore_index = True)

C:\Users\dan.girvitz\AppData\Local\Temp\ipykernel_17988\2268971855.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  players = players.append(new, ignore_index = True)

In [11]:
players

,Player,Nationality,Club,World_Champion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45.0
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44.0
2,Neymar Junior,Brasil,Paris SG,False,1.75,28.0
3,Kylian Mbappe,France,Paris SG,True,1.78,21.0
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0.0
5,Sergio Ramos,Spain,Real Madrid,True,1.84,5.0
6,Mohamed Salah,Egypt,FC Liverpool,False,1.75,44.0
7,Luis Suarez,Uruguay,FC Barcelona,False,1.82,31.0